*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#Hero{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    background-color: rgb(30, 206, 100);
}

#pic img{
    max-width: 500px;
}